.add-admin-container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
   
    border-radius: 10px;
   
    text-align: center;
  }
  
  .add-admin-container h2 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .add-admin-form {
    display: flex;
    flex-direction: column;
  }
  
  .form-group {
    margin-bottom: 15px;
    text-align: left;
  }
  
  .form-group label {
    display: block;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  input,
  select {
    width: 100%;
    padding: 10px 15px;
    font-size: 14px;
    border: 2px solid var(--color-darkest);
    border-radius: 20px; /* Coins arrondis */
    box-sizing: border-box;
    outline: none;
    transition: border-color 0.3s ease;
  }
  
 
  
  .form-group:first-of-type {
    display: flex;
    justify-content: space-between;
    gap: 10px;
  }
  
  .form-group:first-of-type label {
    flex: 1;
  }
  
  .create-btn {
    display: inline-block;
    width: 40%;
    padding: 10px 15px;
    font-size: 16px;
    background-color: var(--color-darkest);
    color: white;
    border: 2px solid var(--color-darkest);
    border-radius: 20px;
    cursor: pointer;
    transition: all 0.3s ease;
    text-align: center; 
    margin: 0 auto;
    display: block; 
  }
  
 
  .add-admin-container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
   
    border-radius: 10px;
   
    text-align: center;
  }
  
  .add-admin-container h2 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .add-admin-form {
    display: flex;
    flex-direction: column;
  }
  
  .form-group {
    margin-bottom: 15px;
    text-align: left;
  }
  
  .form-group label {
    display: block;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  input,
  select {
    width: 100%;
    padding: 10px 15px;
    font-size: 14px;
    border: 2px solid var(--color-darkest);
    border-radius: 20px; /* Coins arrondis */
    box-sizing: border-box;
    outline: none;
    transition: border-color 0.3s ease;
  }
  
 
  
  .form-group:first-of-type {
    display: flex;
    justify-content: space-between;
    gap: 10px;
  }
  
  .form-group:first-of-type label {
    flex: 1;
  }
  
  .create-btn {
    display: inline-block;
    width: 40%;
    padding: 10px 15px;
    font-size: 16px;
    background-color: var(--color-darkest);
    color: white;
    border: 2px solid var(--color-darkest);
    border-radius: 20px;
    cursor: pointer;
    transition: all 0.3s ease;
    text-align: center; 
    margin: 0 auto;
    display: block; 
  }
  
 
  