.manage-users-page {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    height: 100vh;
    padding: 20px;
    flex-direction: column; /* Empiler les éléments verticalement */
}

.menu-user-container {
    width: 250px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: auto;
}

.search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    height: 100px;
}

.search {
    width: 300px;
}

.user-list-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 20px; /* Espace entre le menu et la liste des utilisateurs */
    flex-grow: 1;
}

.user-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px; /* Augmente la taille du div pour chaque utilisateur */
    background-color: white;
    border: 1px solid #ccc;
    margin-bottom: 10px;
    width: 550px; /* Largeur de chaque ligne utilisateur */
    border-radius: 5px; /* Bords arrondis */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Ombre douce */
}

.user-item .delete-button {
    color: red;
    font-size: 20px;
    cursor: pointer;
    font-weight: bold;
    display: flex;
    align-items: center;
    gap: 5px;
}


