.manage-admin-container {
    background: #1a1a3c;
    color: white;
    padding: 50px;
    border-radius: 10px;
    width: 800px;
    height:400px;
    min-height: 400px;
    margin: auto;
    text-align: center;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  
  .roles-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 15px 0;
    max-height: 200px;
    overflow-y: auto;
    padding-right: 10px;
    flex-grow: 1;
  }
  
  .role-item {
    display: flex;
    justify-content: space-between;
    background: white;
    color: black;
    padding: 10px;
    border-radius: 5px;
  }
  
  .delete-button {
    background: none;
    border: none;
    cursor: pointer;
  }
  
  .add-role-container {
    display: flex;
    gap: 10px;
    margin-bottom: 15px;
  }
  
  input {
    flex: 1;
    padding: 5px;
    border-radius: 5px;
  }
  
  .button-group {
    display: flex;
    justify-content: space-between;
    margin-top: auto;
  }

  .add-button{
    background: var(--color-muted);
    color:white;
    padding: 10px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
  }
  
  .cancel-button, .confirm-button {
    background: var(--color-primary);
    color: white;
    padding: 10px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
  }
  
  .cancel-button:hover, .confirm-button:hover {
    background: #5757c9;
  }
  